<div id="auth_box" class="password">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="/sites/default/files/flete24/flete24long-green280x65.png" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">¿Olvido su contraseña?</h2>

    {{ messages }}

    {{ page.content }}
  </div>

  <div id="bottom_part">
    <div class="login_link">
      <h4><a href="{{ path('user.login') }}">{{ 'Ingresar'|t }}</a></h4>
    </div>

    <div class="register_link">
    <h4>
      <a href="{{ path('user.register') }}">{{ 'Crear una cuenta nueva'|t }}</a>
      </h4>
    </div>

    <div class="back_link">
    <h4>
      <a href="{{ url('<front>') }}">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
       {{ 'Regresar'|t }}
       </a>
       </h4>
    </div>
  </div>
</div>
